<!-- page-title -->
<div class="page-title" style="background-image: url(/img/slider-hero.webp);">
  <div class="container-full">
    <div class="row">
      <div class="col-12">
        <h3 class="heading text-center">My Account</h3>
        <ul class="breadcrumbs d-flex align-items-center justify-content-center">
          <li><a class="link" href="/">Homepage</a></li>
          <li><i class="icon-arrRight"></i></li>
          <li><a class="link" href="#">Pages</a></li>
          <li><i class="icon-arrRight"></i></li>
          <li>My Account</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /page-title -->