   <!-- Lookbook -->
        <section>
            <div class="flat-sw-pagination swiper tf-sw-lookbook sw-lookbook-wrap" dir="ltr" data-preview="1"
                data-tablet="1" data-mobile="1" data-space-lg="0" data-space-md="0" data-space="0" data-pagination="1"
                data-pagination-md="1" data-pagination-lg="1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="banner-lookbook">
                            <img class="lazyload" data-src="/images/banner/banner-lb-furniture1.jpg"
                                src="/images/banner/banner-lb-furniture1.jpg" alt="banner">
                            <div class="lookbook-item position3">
                                <div class="dropdown dropup-center dropdown-custom">
                                    <div role="dialog" class="tf-pin-btn" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <span></span>
                                    </div>
                                    <div class="dropdown-menu">
                                        <div class="loobook-product style-row">
                                            <div class="img-style">
                                                <img src="/images/gallery/lookbook-sm2.jpg" alt="img">
                                            </div>
                                            <div class="content">
                                                <div class="info">
                                                    <a href="product-detail.html"
                                                        class="text-title text-line-clamp-1 link">Ribbed cotton-blend
                                                        top</a>
                                                    <div class="price text-button">$69.99</div>
                                                </div>
                                                <a href="#quickView" data-bs-toggle="modal"
                                                    class="btn-lookbook btn-line">Quick View</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lookbook-item position4">
                                <div class="dropdown dropup-center dropdown-custom">
                                    <div role="dialog" class="tf-pin-btn" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <span></span>
                                    </div>
                                    <div class="dropdown-menu">
                                        <div class="loobook-product style-row">
                                            <div class="img-style">
                                                <img src="/images/gallery/lookbook-sm3.jpg" alt="img">
                                            </div>
                                            <div class="content">
                                                <div class="info">
                                                    <a href="product-detail.html"
                                                        class="text-title text-line-clamp-1 link">Copenhagen Beechwood
                                                        Artisan</a>
                                                    <div class="price text-button">$69.99</div>
                                                </div>
                                                <a href="#quickView" data-bs-toggle="modal"
                                                    class="btn-lookbook btn-line">Quick View</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-lookbook">
                            <img class="lazyload" data-src="/images/banner/banner-lb-furniture2.jpg"
                                src="/images/banner/banner-lb-furniture2.jpg" alt="banner">
                            <div class="lookbook-item position3">
                                <div class="dropdown dropup-center dropdown-custom">
                                    <div role="dialog" class="tf-pin-btn" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <span></span>
                                    </div>
                                    <div class="dropdown-menu">
                                        <div class="loobook-product style-row">
                                            <div class="img-style">
                                                <img src="/images/gallery/lookbook-sm2.jpg" alt="img">
                                            </div>
                                            <div class="content">
                                                <div class="info">
                                                    <a href="product-detail.html"
                                                        class="text-title text-line-clamp-1 link">Ribbed cotton-blend
                                                        top</a>
                                                    <div class="price text-button">$69.99</div>
                                                </div>
                                                <a href="#quickView" data-bs-toggle="modal"
                                                    class="btn-lookbook btn-line">Quick View</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lookbook-item position4">
                                <div class="dropdown dropup-center dropdown-custom">
                                    <div role="dialog" class="tf-pin-btn" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <span></span>
                                    </div>
                                    <div class="dropdown-menu">
                                        <div class="loobook-product style-row">
                                            <div class="img-style">
                                                <img src="/images/gallery/lookbook-sm3.jpg" alt="img">
                                            </div>
                                            <div class="content">
                                                <div class="info">
                                                    <a href="product-detail.html"
                                                        class="text-title text-line-clamp-1 link">Copenhagen Beechwood
                                                        Artisan</a>
                                                    <div class="price text-button">$69.99</div>
                                                </div>
                                                <a href="#quickView" data-bs-toggle="modal"
                                                    class="btn-lookbook btn-line">Quick View</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sw-pagination-lookbook sw-dots type-circle white-circle-line justify-content-center"></div>
            </div>
        </section>
        <!-- /Lookbook -->