


<!-- Collection -->
 <section class="flat-spacing">
    <div class="container-full2">
        <div class="heading-section text-center wow fadeInUp">
            <h3 class="heading">Shop by Collections</h3>
            <p class="subheading">Browse our Top Trending: the hottest picks loved by all.</p>
        </div>
        <div class="flat-sw-navigation wow fadeInUp" data-wow-delay="0.1s">
            <div dir="ltr" class="swiper tf-sw-collection" data-preview="4" data-tablet="3" data-mobile-sm="2"
                data-mobile="1" data-space-lg="30" data-space-md="15" data-space="15" data-pagination="1"
                data-pagination-md="3" data-pagination-lg="4">
                <div class="swiper-wrapper">

                    <!-- item 1 -->
                    <div class="swiper-slide">
                        <div class="collection-position-2 style-7 hover-img">
                            <a href="/shop/beds" class="img-style">
                                <img class="lazyload" data-src="/images/collections/beds.png"
                                    src="/images/collections/beds.png" alt="banner-cls">
                            </a>
                            <div class="content text-center">
                                <h4 class="title"><a href="/shop/beds" class="link text-white">Beds</a></h4>
                            </div>
                        </div>
                    </div>


                    <!-- item 3 -->
                    <div class="swiper-slide">
                        <div class="collection-position-2 style-7 hover-img">
                            <a href="/shop/chairs-ottomans" class="img-style">
                                <img class="lazyload" data-src="/images/collections/ottoman.jpg"
                                    src="/images/collections/ottoman.jpg" alt="banner-cls">
                            </a>
                            <div class="content text-center">
                                <h4 class="title"><a href="/shop/chairs-ottomans" class="link text-white">Ottomans</a></h4>
                            </div>
                        </div>
                    </div>
                    <!-- item 4 -->
                    <div class="swiper-slide">
                        <div class="collection-position-2 style-7 hover-img">
                            <a href="/shop/sofas" class="img-style">
                                <img class="lazyload" data-src="/images/collections/sofas.jpg"
                                    src="/images/collections/sofas.jpg" alt="banner-cls">
                            </a>
                            <div class="content text-center">
                                <h4 class="title"><a href="/shop/sofas" class="link text-white">Sofas</a></h4>
                            </div>
                        </div>
                    </div>


                      <!-- item 3 -->
                    <div class="swiper-slide">
                        <div class="collection-position-2 style-7 hover-img">
                            <a href="/shop/wall-decor" class="img-style">
                                <img class="lazyload" data-src="/images/collections/book.jpg"
                                    src="/images/collections/book.jpg" alt="banner-cls">
                            </a>
                            <div class="content text-center">
                                <h4 class="title"><a href="/shop/wall-decor" class="link text-white">Books Shelves</a></h4>
                            </div>
                        </div>
                    </div>




                    <!-- item 5 -->
                    <div class="swiper-slide">
                        <div class="collection-position-2 style-7 hover-img">
                            <a href="/shop/coffee-tables" class="img-style">
                                <img class="lazyload" data-src="/images/collections/tables.jpg"
                                    src="/images/collections/tables.jpg" alt="banner-cls">
                            </a>
                            <div class="content text-center">
                                <h4 class="title"><a href="/shop/coffee-tables" class="link text-white">Coffee Tables</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex d-lg-none sw-pagination-collection sw-dots type-circle justify-content-center"></div>
            </div>
            <div class="nav-prev-collection d-none d-lg-flex nav-sw style-line nav-sw-left"><i
                    class="icon icon-arrLeft"></i></div>
            <div class="nav-next-collection d-none d-lg-flex nav-sw style-line nav-sw-right"><i
                    class="icon icon-arrRight"></i></div>
        </div>
    </div>
</section>
<!-- /Collection -->